body {
  font-family: 'Open Sans', sans-serif;
  color: #1D1A05;
  background-color: #D0BC71
}

header {
  font-family: 'Vollkorn', serif;
  margin: auto;
  text-align: center;
}

div.sign-in {
  margin: auto;
  text-align: center;
  width: 50%;
}

div.game {
  margin: auto;
  width: 65%;
  height: 530px;
  background-color: #50532B;
  border-radius: 25px;
  padding: 10px;
  position: relative;
}

div.card {
  background-color: #A69D5B;
  border-radius: 25px;
  float: left;
  height: 115px;
  margin: 1%;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center
}

div.congrats {
  position: absolute;
  text-align: center;
  line-height: 30px;
  padding: 30px;
  background-color: #FBE68B;
  border-radius: 25px;
  height: 120px;
  width: 175px;
  border: 1px solid #1D1A05;
  top: 190px;
  left: 360px;
}

#timer {
  text-align: center;
}

h1 {
  font-size: 70px;
}

button {
  border: 2px solid #1D1A05;
  text-transform: uppercase;
  background: #E6D17E;
  padding: 10px;
  border-radius: 30px;
  display: block;
  margin: auto;
  transition: all 0.4s ease 0s;
}

br.br-big {
  display: block;
  margin: 10px 0;
  line-height:22px;
  content: " ";
}


br.br-med {
  display: block;
  margin: 20px 0;
  content: " ";
}

input {
  border: 2px solid #1D1A05;
  background: #E6D17E;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
}
